body {
    background-color: #424242;
    font-family: noto-serif-hebrew, sans-serif;
    font-style: medium;
    font-weight: 70;
<<<<<<< HEAD
}

=======

    /* margin: 0; /* Remove default margin for body */
    /* display: flex; /* Make body a flex container 
    justify-content: center; /* Center the container horizontally  
    align-items: center; /* Center the container vertically 
    height: 100vh; Full viewport height */
}
/* Container for View Mode */
>>>>>>> aaaa4885acf57a88ca09dc800280944fae21f178
.navigation {
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  transform: translate(-50%, -55%);
  width: auto;
  height: auto;
  background-color: #424242;
  border: 2px solid #ff9900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

<<<<<<< HEAD
=======
/* View Mode Label */
>>>>>>> aaaa4885acf57a88ca09dc800280944fae21f178
.navigation h3{
  font-family: noto-serif-hebrew, sans-serif;
  font-size: 30px;
  font-weight: regular;
  color: white;
  margin-bottom: 40px;
  text-align: center;
}
<<<<<<< HEAD
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
=======

/* Container for buttons */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the buttons horizontally */
>>>>>>> aaaa4885acf57a88ca09dc800280944fae21f178
}
button {
  background-color: #424242;
  border: 2px solid #ff9900;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s;
  font-family: inherit;
  font-size: 15px;
}
button:hover {
  background-color: #ffcc66;
}
<<<<<<< HEAD
=======



>>>>>>> aaaa4885acf57a88ca09dc800280944fae21f178
h1 {
    font-family: noto-serif-hebrew, sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 90px;
    left: 360px;
    color: white;
    margin-bottom: 20px;
}
h4 {
    font-family: noto-serif-hebrew, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    position: absolute;
    top: 130px;
    left: 450px;
    color: white;
    margin-bottom: 40px;
  
}

#scatterplot {
    width: 80%;
    height: 500px;
    margin: 0 auto;
}
<<<<<<< HEAD
=======

/* #buttons {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.country-button {
    background-color: #ff9800;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 100px;
    text-align: center;
} */
>>>>>>> aaaa4885acf57a88ca09dc800280944fae21f178
#buttons {
    position: absolute;
    top: 100px;
    right: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1px;
    grid-column-gap: 15px;
  }
  .country-button {
    background-color: #424242;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border: 2px solid #ff9900;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
  }
  .country-button.active {
    background-color: #ffcc66;
  }
  svg {
    position: absolute;
    top: 200px;
    left: 290px;
  }
  .button-container-about {
<<<<<<< HEAD
    position: absolute; 
    bottom: 10px; 
    right: 20px; 
    z-index: 100;
  
  }
=======
    position: absolute; /* Allows free positioning */
    bottom: 10px; /* Adjust based on where you want to position it vertically */
    right: 20px; /* Adjust based on where you want to position it horizontally */
    z-index: 100;
  
  }
  
>>>>>>> aaaa4885acf57a88ca09dc800280944fae21f178
